/**
 * @file
 * SCSS file to generate CSS.
 *
 * Header SCSS.
 */


/*.path-blogs,
.page-node-type-news,
.page-node-type-portfolio,
.path-news-type,
.path-hire-developer,
.page-node-type-blogs,
.path-news,
.path-portfolio,
.path-testimonials,
.path-our-team,
.path-team-testimonials,
.page-node-type-page,
.path-contact {*/
.main-header {
  background-color: $black;
}
.custom-header.inner-pages {
  height: 135px;
  background-color: $black;
  background-image: none;
  @media (max-width: 1200px) {
    height: 113px;
  }
  @media (max-width: 992px) {
    height: 55px;
  }
}
/*}*/
.path-frontpage,
.path-careers {
  .main-header-gap-inner-page {
    display: block;
    height: auto;
    width: 100%;
  }
}
.main-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: block;
  width: 100%;
  @include transition(all .5s ease 0s);
}

/**
 * Top head section
 */
.open-mob-menu {
  .request-quote-floating {
    .request-quote-button {
      @media (max-width: 992px) {
        z-index: 0;
      }
    }
  }
}
.main-header { background-color: transparent; }

.top-header {
  position: relative;
  /*z-index: 9999;*/
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 15px 0 0;
  color: $white;
  @include transition(all .5s ease 0s);
  @media (max-width: 992px) {
    z-index: 0;
    padding: 8px 0;
  }
  @media (max-width: 640px) {
    padding-bottom: 30px;
  }
  a { color: $white; }
  .menu--top-menu {
    li {
      display: inline-block;
      background-color: transparent;
      a {
        padding-top: 0;
        padding-left: 0;
        &:focus,
        &:hover,
        &:visited,
        &:active {
          background-color: transparent;
          /*text-decoration: none;*/
          text-decoration: underline;
        }
      }
    }
  }
  .top-menu {
    li {
      display: inline-block;
      a {
        padding-top: 0;
        &:hover {
          background: transparent;
          text-decoration: underline;
        }
      }
    }
  }
  .top-menu-list {
    @media (max-width: 992px) {
      display: none;
    }
  }
}
.social-icon-link {
  display: none;
}


#block-socialmedia {
  clear: both;
  width: 100%;
  margin-left: -15px;
  .social-share-icon-mobile {
    display: none;
    &.ssim-show {
      position: fixed;
      top: 0;
      right: 0;
      left: auto;
      z-index: 10000;
      display: inline-block;
      height: 52px;
      width: 60px;
      background-color: $black;
    }
  }
  @media (max-width: 992px) {
    float: left;
  }
  @media (max-width: 767px) {
    padding-top: 0;
  }
  @media (max-width: 640px) {
    float: right;
    /*margin-top: -7px;
    margin-bottom: 10px;*/
    margin-top: -1px;
  }
  .social-icons {
    @media (max-width: 992px) {
      float: left;
      /*padding-top: 5px;*/
      margin: 10px 0 0;
    }
    @media (max-width: 640px) {
      margin-top: 0;
      margin-right: -60px;
    }
    li {
      float: left;
      width: auto;
    }
  }
}
/* End */


/**
 * Menu & Logo
 */
#block-topcontactnumber {
  display: inline-block;
  ul {
    margin: 0;
    padding: 0;
    @media (max-width: 992px) {
      margin-top: 7px;
    }
    li {
      float: left;
      padding: 0 10px;
      line-height: 15px;
      list-style-type: none;
      @media (max-width: 767px) {
        /*padding: 3px 10px;*/
      }
      @media (max-width: 480px) { padding: 0; }
      &::before {
        display: inline-block;
        height: 18px;
        width: 22px;
        margin: 3px 5px 0 0;
        background-image: $contact-icon;
        background-position: top 2px left -28px;
        background-repeat: no-repeat;
        background-size: 163px;
        vertical-align: middle;
        content: '';
        @media (max-width: 480px) { display: none; }
      }
      &:first-child {
        padding-left: 0;
        @media (max-width: 992px) {
          width: 100%;
          text-align: right;
        }
        @media (max-width: 640px) {
          text-align: left;
        }
      }
      &:last-child {
        position: relative;
        top: 0;
        border-left: 3px solid $white;
        @include transition(all .5s ease 0s);
        &::before {
          width: 0;
          background-image: none;
        }
        @media (max-width: 992px) {
          display: none;
        }
      }
      a {
        line-height: 24px;
        @media (max-width: 1200px) {
          font-size: 14px;
        }
      }
    }
  }
  @media (max-width: 640px) {
    float: left;
    margin-top: -6px;
    margin-bottom: 0;
  }
}
.header {
  position: absolute;
  top: 0;
  /*z-index: 999;*/
  width: 100%;
  margin-top: 55px;
  background-color: transparent;
  @include transition(all .5s ease 0s);
  @media (max-width: 992px) {
    position: relative;
    margin-top: 0;
    background-color: $black;
  }
  @media (max-width: 640px) {
    margin-top: -8px;
  }
  .container-fluid {
    position: relative;
    @media (max-width: 992px) {
      padding: 0;
    }
  }
  .logo {
    position: absolute;
    top: 0;
    left: 50%;
    display: inline-block;
    /*margin: 0 0 0 -150px;*/
    margin: -56px 0 0 -150px;
    @include transition(all .5s ease 0s);
    @media (max-width: 1200px) {
      max-width: 250px;
      margin-left: -125px;
    }
    @media (max-width: 992px) {
      position: absolute;
      top: 0;
      left: 0;
      margin: -47px 0 0 8px;
    }
    @media (max-width: 640px) {
      left: 50%;
      margin-top: -56px;
      margin-left: -64px;
    }
    img {
      @media (max-width: 992px) {
        width: 134px;
      }
    }
  }
  .wrap-content {
    position: static;
    text-align: center;
    @include transition(.5s);
    .navbar-header {
      .region-navigation {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        width: 100%;
      }
    }
    .mobile-menu-btn {
      position: absolute;
      display: inline-block;
      visibility: hidden;
      @media(max-width: 992px) {
        top: 0;
        right: 0;
        margin: -30px 15px 0 0;
        visibility: visible;
      }
      /*@media (max-width: 640px) {
        margin: -20px 15px 0 0;
      }*/
      @media (max-width: 767px) {
        margin: -30px 15px 0 0;
      }
      @media (max-width: 640px) {
        margin: -36px 15px 0 0;
      }
      .icon-bar {
        display: block;
        height: 18px;
        width: 24px;
        margin-bottom: -10px;
        border-top: 2px solid $white;
      }
    }
  }
  .main-menu {
    display: inline-block;
    width: auto;
    /*margin: 24px 135px 0;*/
    margin: 24px 0 0;
    padding-bottom: 0;
    @include transition(all .5s ease 0s);
    @media (max-width: 1200px) {
      /*margin: 7px 132px;
      margin: 4px 100px;*/
      margin: 4px 0;
    }
    @media (min-width: 993px) {
      display: inline-block !important;
    }
    @media (max-width: 992px) {
      margin: 0;
      /*margin-top: 0;*/
      padding-bottom: 0;
      @include transition(none);
      &.main-menu-left,
      &.main-menu-right {
        display: none;
        width: 100%;
      }
      &.main-menu-left {
        margin-top: 5px;
        border-top: 3px solid $white;
      }
    }
    &.main-menu-left,
    &.main-menu-right {
      /*position: relative;
      z-index: 11;*/
    }
    &.main-menu-left {
      /*right: 30px;*/
      /*right: 72px;*/
      position: static;
      /*margin-right: 10%;*/
      margin-right: 15%;
      @media (max-width: 1200px) {
        /*right: 65px;*/
        margin-right: 15%;
      }
      @media (max-width: 992px) {
        /*right: 0;*/
      }
    }
    ul {
      margin: 0;
      list-style: none;
      @include transition(all .5s ease 0s);
      @media (max-width: 992px) {
        width: 100%;
        padding: 0;
        background-color: $black;
        @include transition(none);
      }
      li {
        position: relative;
        display: inline-block;
        width: auto;
        /*padding: 0 18px 10px;*/
        padding: 0 10px 10px;
        @include transition(all .5s ease 0s);
        &.menu-item--expanded {
          /* Responsive submenu downarrow design */
          .cart-arrow {
            position: absolute;
            top: 0;
            right: 0;
            left: auto;
            /*z-index: 999999;*/
            z-index: 10;
            display: none;
            height: 32px;
            width: 42px;
            margin: 0;
            background-image: url('../images/up-arrow-white.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: 12px auto;
            cursor: pointer;
            @media (max-width: 992px) {
              float: right;
              display: inline-block;
            }
          }
        }
        @media (max-width: 1300px) {
          padding: 0 10px 12px;
        }
        @media (max-width: 1024px) {
          padding: 0 5px 12px;
        }
        @media (max-width: 992px) {
          width: 100%;
          padding: 0 !important;
          border-bottom: 1px solid $grey-cc;
          text-align: left;
        }
        a { /* Main menu - Parent menu */
          display: inline-block;
          margin-bottom: 15px;
          padding: 6px 12px;
          background-color: transparent;
          color: $white;
          font-size: 15px;
          font-family: $opensans-semibold;
          text-transform: uppercase;
          cursor: pointer;
          @media (max-width: 1300px) {
            /*padding: 7px 7px 5px;*/
            padding: 4px 7px 5px;
          }
          @media (max-width: 1200px) {
            padding: 7px 5px 5px;
            font-size: 14px;
          }
          @media (max-width: 992px) {
            position: relative;
            z-index: 1;
            display: inline-block;
            width: 100%;
            margin-bottom: 0;
            padding-right: 44px;
            padding-bottom: 8px !important;
          }
          &.is-active {
            border-bottom: 3px solid $white;
            text-decoration: none;
            @media (max-width: 992px) {
              border-bottom: none;
            }
          }
          &:active,
          &:focus {
            text-decoration: none;
          }
        }
        ul { /* Sub menu - Second level */
          display: none;
          /*height: 0;*/
          @media (min-width: 993px) {
            position: absolute;
            top: 43px;
            left: 0;
            z-index: 1;
            margin-top: 0;
            margin-left: 0;
            @include box-shadow(0 1px 2px 1px rgba(0, 0, 0, .3));
          }
          @media (max-width: 992px) {
            position: relative;
            margin-left: 0 !important;
            padding: 0 !important;
            border: none;
          }
          li {
            padding: 0;
            @media (max-width: 992px) {
              border-bottom: 1px solid $black;
              /*background: $gray-ea;*/
              .cart-arrow {
                display: none;
              }
            }
            a {
              padding: 3px 15px;
              background-color: transparent;
              /*border-bottom: none;*/
              color: $black;
              font-size: 13px;
              text-transform: capitalize;
              @media (max-width: 992px) {
                padding-top: 8px;
              }
            }
            &:hover {
              ul { /* Third level sub menu */
                top: 0;
                right: auto;
                left: -100%;
                /*width: 100%;*/
                width: 282px;
                margin-top: 0;
                /*margin-left: -9px;*/
                margin-left: -42px;
                @media (min-width: 992px) {
                  &::before {
                    right: 0;
                    margin-top: 8px;
                    margin-right: -13px;
                    @include transform(rotate(270deg));
                  }
                }
                @media (max-width: 992px) {
                  left: 0;
                  width: 100%;
                }
              }
            }
            @media (min-width: 993px) {
              display: inline-block;
              width: 100%;
              &:last-child {
                border-bottom: none;
              }
            }
            @media (max-width: 992px) {
              border-bottom: 1px solid $black;
              background-color: $grey-cc;
              &:last-child {
                border-bottom: none;
              }
            }
            a {
              border: none;
              color: $black-44;
              @media (min-width: 993px) {
                float: left;
                min-width: 131px;
                width: 100%;
                text-align: left;
                white-space: nowrap;
                @include transition(all 400ms linear);
              }
              &:hover {
                border-bottom: none;
                color: $black;
                text-indent: 2px;
              }
              @media (max-width: 992px) {
                color: $black;
              }
            }
            > ul {
              li {
                padding-right: 14px;
                @media (max-width: 992px) {
                  &:first-child {
                    border-top: 1px solid #000;
                  }
                  a {
                    padding-left: 30px !important;
                    background-color: #EAEAEA;
                  }
                }
              }
            }
          }
        }
        &:hover {
          a {
            /*border-bottom: 3px solid $white;*/
            text-decoration: none;
            /*@media (max-width: 992px) {
              border-bottom: none;
            }*/
          }
          > ul {
            /*height: auto;*/
            min-width: 150px;
            margin-left: 10px;
            padding: 6px 0;
            border-top: 10px solid $blue-0b;
            background: $white;
            /*background-color: rgba(255, 255, 255, .8);*/
            @include border-radius(0);
            @media (min-width: 993px) { display: block !important; }
            @media (max-width: 992px) {
              border-top: none;
              @include transition(none);
            }
            @media (min-width: 992px) {
              /*column-count: 2;*/
              &::before {
                position: absolute;
                top: 0;
                /*display: inline-block;*/
                display: none;
                height: 11px;
                width: 15px;
                margin: -11px 0 0 37px;
                background-image: url('../images/up-arrow-white.png');
                background-repeat: no-repeat;
                background-size: 100% auto;
                @include transform(rotate(180deg));
                content: '';
                opacity: .8;
              }
            }
            li {
              .cart-arrow {
                display: none;
              }
              a {
                margin-bottom: 0;
                border-bottom: none;
                @media (max-width: 992px) {
                  padding-top: 8px;
                }
              }
            }
          }
        }
      }
    }
    &.main-menu-middle {
      position: absolute;
      left: 50%;
      margin-left: -150px;
      @media (max-width: 1200px) {
        max-width: 250px;
        margin-left: -125px;
      }
      @media (max-width: 1024px) {
        max-width: 218px;
        margin-left: -109px;
      }
      @media (max-width: 992px) {
        position: absolute;
        top: 0;
        left: 0;
        margin: -54px 0 0 8px;
      }
      @media (max-width: 640px) {
        left: 50%;
        margin-top: -51px;
        margin-left: -64px;
      }
      img {
        @media (max-width: 992px) {
          width: 134px;
        }
      }
    }
  }
  .main-menu-left {
    /*margin-right: 150px;*/
    margin-left: 0;
    @media (max-width: 992px) {
      margin-top: 21px;
      margin-right: 0;
    }
  }
  .main-menu-right {
    /*margin-left: 150px;*/
    /*left: 72px;
    margin-right: 0;*/
    position: static;
    margin-left: 10%;
    /*padding-right: 30px;*/
    @media (max-width: 1200px) {
      /*right: 65px;*/
      margin-left: 15%;
    }
    @media (max-width: 992px) {
      display: inline-block;
      margin-left: 0;
      padding-right: 0;
    }
    ul {
      li {
        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
  .menu--simple-mega-menu {
    position: inherit;
    .mega-menu-item {
      /*max-width: 1170px;
      margin: 0 auto*/;
      display: block;
      width: 100%;
    }
  }
  .mega-menu-wrapper {
    position: absolute;
    z-index: 999;
    /*display: none;*/
    min-height: 480px;
    height: auto;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 10px 0 350px;
    background: $white;
    @include box-shadow(0 0 10px rgba(0, 0, 0, .9));
    @media (max-width: 992px) {
      min-height: inherit;
      width: 100%;
      padding: 0;
      &.customTop {
        position: relative;
        opacity: 1;
        .sidebar-left {
          background: $grey-cc;
        }
      }
    }

    .mega-menu-background {
      height: 100vh;
      overflow-y: scroll;
      border-top: 10px solid $blue-009;
      background-color: $white-f5;
    }
    .menu {
      display: none;
    }
    .field--name-field-body {
      display: block;
      width: 100%;
      .sidebar-left {
        float: none;
        display: inline-block;
        /*width: 100%;*/
        min-height: 200px;
        max-width: 1170px;
        margin: 0 auto;
        padding-top: 30px;
        padding-right: 50px;
        @include calc('width', '100% - 15%');
        @media (max-width: 1300px) {
          min-height: inherit;
          padding-top: 15px;
          padding-right: 50px;
        }
        @media (max-width: 992px) {
          min-height: inherit;
          width: 100%;
          padding: 0;
        }
        .menu-grid {
          float: left;
          display: inline-block;
          width: 33.33%;
          text-align: left;
          /*margin-right: 34px;*/
          /*@include calc('width', '33.33% - 34px');*/
          &:nth-child(3n) {
            margin-right: 0;
          }
          @media (min-width: 1300px) {
            margin-right: 0;
            padding-right: 15px;
          }
          @media (max-width: 992px) {
            width: 100%;
          }
          .home-menu {
            display: inline-block;
            @media (max-width: 992px) {
              width: 100%;
            }
            .megamenu-title {
              width: 100%;
              margin-bottom: 5px;
              padding-bottom: 5px;
              border-bottom: 1px solid $gray-d8;
              text-align: left;
              @media (max-width: 992px) {
                position: relative;
                margin-bottom: 0;
                padding-bottom: 0;
                border-bottom: 1px solid $black;
                background: $grey-cc;
                opacity: 1;
              }
              h4 {
                color: $black;
                font-size: 16px;
                line-height: 16px;
                font-family: 'OpenSans Semibold';
                text-align: left;
                @media (max-width: 992px) {
                  position: relative;
                  display: block;
                  padding: 7px 10px;
                  color: $black;
                  font-size: 15px;
                }
                a {
                  margin-bottom: 0;
                  padding: 0;
                  border-bottom: none;
                  color: $black;
                  font-size: 16px;
                  line-height: 20px;
                  font-family: 'OpenSans Semibold';
                  text-align: left;
                  text-transform: none;
                  &:hover {
                    color: $black-65;
                  }
                  @media (max-width: 992px) {
                    position: relative;
                    display: block;
                    padding: 0 !important;
                    color: $black;
                    font-size: 15px;
                  }
                }
              }
              &.second-menu-title {
                margin-top: 15px;
                @media (max-width: 992px) {
                  margin-top: 0;
                }
              }
            }
            ul {
              position: static;
              display: inline-block;
              padding-top: 5px;
              box-shadow: none;
              @media (max-width: 1300px) {
                padding-top: 4px;
              }
              @media (max-width: 992px) {
                display: none;
                background: $gray-ea;
              }
              li {
                display: list-item;
                list-style: inherit;
                a {
                  position: relative;
                  margin-bottom: 0;
                  padding-left: 20px;
                  border-bottom: none;
                  color: $gray-4a;
                  font-size: 14px;
                  text-decoration: none;
                  @media (max-width: 1300px) {
                    padding-bottom: 0;
                    font-size: 13px;
                    white-space: normal;
                  }
                  &::before {
                    position: absolute;
                    float: left;
                    top: 0;
                    left: 0;
                    margin-top: 4px;
                    padding-top: 4px;
                    padding-right: 10px;
                    color: $black;
                    font-size: 10px;
                    font-family: 'FontAwesome';
                    content: '\f111';
                  }
                }
                &:nth-child(odd) {
                  a {
                    &::before {
                      color: $yellow-c6;
                      @media (max-width: 992px) {
                        display: none;
                      }
                    }
                  }
                }
                &:nth-child(even) {
                  a {
                    &::before {
                      color: $green-50;
                      @media (max-width: 992px) {
                        display: none;
                      }
                    }
                  }
                }
              }
            }
            .btn-hire {
              margin-top: 20px;
              &:nth-child(2n) {
                margin-top: 0;
                @media (max-width: 992px) {
                  margin-bottom: 20px;
                }
              }
            }
          }
          &.hire-mega-menu {
            .btn-hire {
              display: inline-block;
              margin-top: 12px;
              @media (max-width: 992px) {
                display: none;
              }
              a {
                border-bottom: none;
              }
            }
            .hire-description {
              p {
                position: relative;
                margin: 0;
                padding-left: 30px;
                /*border-bottom: 1px solid $gray-d8;*/
                color: $gray-4a;
                font-size: 14px;
                text-align: left;
                text-decoration: none;
                &::before {
                  position: absolute;
                  top: 3px;
                  left: 0;
                  font-size: 14px;
                  font-family: FontAwesome;
                  content: '\f00c';
                }
                &.btn-hire {
                  display: inline-block;
                  margin-top: 15px;
                  border-bottom: none;
                  &::before {
                    display: none;
                  }
                  a {
                    border-bottom: none;
                  }
                }
              }
            }
          }
          &.technical-developer-menu {
            width: 66.66%;
            @media (max-width: 992px) {
              width: 100%;
            }
            ul {
              li {
                float: left;
                width: 50%;
                @media (max-width: 992px) {
                  width: 100%;
                }
                &:nth-child(4n + 1),
                &:nth-child(4n + 2) {
                  a {
                    &::before {
                      color: $yellow-c6;
                      @media (max-width: 992px) {
                        display: none;
                      }
                    }
                  }
                }
                &:nth-child(4n + 3),
                &:nth-child(4n + 4) {
                  a {
                    &::before {
                      color: $green-50;
                      @media (max-width: 992px) {
                        display: none;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      .sidebar-right {
        position: absolute;
        top: 0;
        right: 0;
        display: inline-block;
        height: 100%;
        width: 14%;
        background-color: $blue-009;
        @media (max-width: 1300px) {
          width: 12%;
        }
        @media (max-width: 992px) {
          display: none;
        }
        .home-details {
          display: inline-block;
          padding-bottom: 51px;
          .details-wrap {
            &:first-child {
              padding-top: 15px;
            }
            &:last-child {
              .details-full-text {
                .home-details-text {
                  border-bottom: none;
                }
              }
            }
            p {
              margin-bottom: 0;
              padding-bottom: 8px;
              color: $white-cb;
              font-size: 26px;
              font-weight: 900;
              font-family: 'OpenSans bold';
              @media (max-width: 1200px) {
                font-size: 36px;
              }
            }
            .details-full-text {
              padding-bottom: 15px;
              color: $white;
              .home-details-type {
                font-size: 19px;
                font-family: 'OpenSans Semibold';
                @media (max-width: 1300px) {
                  font-size: 17px;
                }
              }
              .home-details-text {
                padding-bottom: 10px;
                border-bottom: 1px dotted $white;
                font-size: 20px;
                font-family: 'OpenSans light';
                @media (max-width: 1300px) {
                  font-size: 17px;
                }
              }
            }
          }
        }
      }
      .bottom-bar {
        position: absolute;
        float: left;
        bottom: 0;
        left: 0;
        display: block;
        width: 100%;
        margin-top: 0;
        @media (max-width: 1300px) {
          margin-top: 26px;
        }
        @media (max-width: 992px) {
          display: none;
        }
        .menu-hire-us {
          float: left;
          /*width: 20%;*/
          width: 18%;
          padding-top: 20px;
          background-color: $blue-22;
          @media (max-width: 1300px) {
            width: 26%;
          }
          &::before {
            float: left;
            display: inline-block;
            height: 0;
            width: 25px;
            margin-top: -95px;
            background: #0098C4;
            content: '';
            @media (max-width: 1300px) {
              margin-top: -60px;
            }
          }
          h2 {
            margin: 0;
            /*padding-top: 56px;*/
            color: $white;
            font-size: 36px;
            line-height: 1;
            text-transform: none;
          }
          .hire-body {
            /*float: left;*/
            padding-top: 10px;
            padding-bottom: 15px;
            p {
              padding-right: 10px;
              padding-left: 10px;
              color: $white;
              font-size: 15px;
              font-family: 'OpenSans Semibold';
              a {
                margin-top: 18px;
                border-bottom: none;
                background-color: $orange-ef;
                color: $white;
                font-size: 19px;
                text-transform: none;
                @include border-radius(4px);
              }
            }
          }
        }
        .client-words {
          /*position: fixed;*/
          float: left;
          /*bottom: 20px;*/
          height: auto;
          width: 17%;
          margin-left: 1%;
          padding-top: 0;
          text-align: center;
          @media (max-width: 1300px) {
            display: none;
          }
          h2 {
            display: none;
            /*padding-left: 20px;*/
            font-size: 21px;
            &::after {
              top: 0;
              bottom: 0;
              left: 50%;
              display: inline-block;
              min-width: 191px;
              border-bottom: 1px solid $gray-d8;
              content: '';
            }
          }
          .client-details {
            padding-top: 10px;
            .client-image {
              /*padding-left: 86px;*/
            }
            .client-body {
              padding-top: 10px;
              p {
                color: $gray-4a;
                font-size: 13px;
                font-family: 'OpenSans Semibold';
                text-align: center;
              }
            }
            .client-name {
              padding-top: 5px;
              p {
                font-family: 'OpenSans Semibold';
                a {
                  padding: 1px 0 0 3px;
                  border-bottom: none;
                  color: $blue-0b;
                  font-size: 13px;
                  text-transform: none;
                }
              }
            }
          }
        }
        .menu-contact-info {
          float: left;
          display: inline-block;
          height: auto;
          width: 15%;
          margin-top: 40px;
          margin-left: 3%;
          padding-top: 00px;
          text-align: center;
          @media (max-width: 1300px) {
            height: auto;
            /*width: 20%;*/
            width: 25%;
          }
          @media (max-width: 1200px) {
            margin-left: 2%;
          }
          .menu-phone-icon {
            float: left;
            display: inline-block;
            height: 40px;
            width: 40px;
            margin: 0 20px 20px 0;
            /*border-bottom: 1px solid $gray-d8;*/
            background-image: url('../images/menu-phone.png');
            background-repeat: no-repeat;
            background-size: 100% auto;
            vertical-align: middle;
            content: '';
          }
          .menu-phone {
            float: left;
            margin: 0;
            padding: 0;
            @media (max-width: 1300px) {
              float: left;
            }
            a {
              margin-bottom: 10px;
              padding: 0;
              border-bottom: none;
              color: $blue-0b;
              font-size: 20px;
              @media (max-width: 1200px) {
                font-size: 18px;
              }
            }
          }
          .menu-email {
            float: left;
            clear: left;
            margin: 0;
            padding: 0;
            @media (max-width: 1300px) {
              float: left;
              clear: left;
            }
            a {
              padding: 0;
              border-bottom: none;
              color: $gray-4a;
              font-size: 18px;
              text-transform: none;
              @media (max-width: 1200px) {
                font-size: 16px;
              }
            }
          }
        }
        .home-images {
          float: left;
          display: inline-block;
          width: auto;
          margin-top: 30px;
          margin-left: 7%;
          background-color: $blue-22;
          @media (max-width: 1200px) {
            margin-left: 8%;
          }
          @media (max-width: 1070px) {
            margin-left: 5%;
          }
          @media (max-width: 992px) {
            display: none;
          }
          p {
            float: left;
            display: inline-block;
            /*max-width: 104px;*/
            width: 100%;
            /*padding: 10px 15px;*/
            vertical-align: middle;
            a {
              display: block;
              width: 100%;
              padding: 0;
              img {
                margin: 0 12px;
                &:nth-child(2n) {
                  margin-top: 25px;
                }
                @media (max-width: 1400px) {
                  height: 65px;
                  width: auto;
                  margin: 10px 5px;
                }
                /*@media (max-width: 1070px) {
                  width: 100px;
                }*/
              }
            }
            @media (max-width: 1300px) {
              float: left;
              display: inline-block;
              width: auto;
            }
          }
        }
      }
    }
  }
}


.caret {
  display: none;
}
/* End */

/* Sticky header design */
.sticky-header {
  .main-header {
    height: 53px;
    background-color: $black;
    @media (max-width: 992px) {
      height: 56px;
    }
    @media (max-width: 640px) {
      height: 40px;
    }
    .top-header {
      .top-menu {
        li {
          a {
            padding: 2px 8px;
            font-size: 14px;
          }
        }
      }
    }
  }
  /*.top-header { padding-bottom: 0; }*/
  #block-topcontactnumber {
    @media (max-width: 640px) {
      display: none;
    }
    ul {
      li {
        &:last-child {
          position: relative;
          top: -100px;
        }
      }
    }
  }
  .header {
    /*margin-top: -20px;*/
    .main-menu {
      margin-top: -46px;
      /*margin-top: 10px;*/
      padding-bottom: 0;
      @media (max-width: 992px) {
        margin-top: 0;
      }
      &.main-menu-left {
        margin-right: 3%;
        margin-left: 0;
        @media (max-width: 1300px) {
          /*right: 56px;*/
          margin-right: 3%;
        }
        .mega-menu-wrapper {
          /*top: -3px;*/
          /*left: -13vw;
          width: 1170px;
          margin-right: auto;
          margin-left: auto;
          padding: 0 15px;*/
          height: auto;
          padding-top: 10px;
          @media (max-width: 992px) {
            height: auto;
          }
          .sidebar-left {
            .home-images {
              top: 35%;
            }
          }
        }
        /*@media (max-width: 1024px) {
          margin-right: -27px;
        }*/
        @media (max-width: 992px) {
          /*margin-top: 35px;*/
          margin-top: 5px;
          margin-right: 0;
        }
        /*@media (max-width: 992px) {
          margin-right: 0;
        }*/
      }
      &.main-menu-right {
        margin-right: 0;
        margin-left: 3%;
        @media (max-width: 1300px) {
          margin-left: 3%;
        }
        @media (max-width: 992px) {
          margin-left: 0;
        }
      }
      ul {
        /*margin-top: -22px;*/
        padding-top: 0;
        li {
          padding-right: 0;
          padding-left: 0;
          /*ul { margin-top: 10px; }*/
          &:hover {
            > ul {
              margin-left: 0;
              ul {
                margin-left: -42px;
              }
            }
          }
          a {
            margin-bottom: 8px;
            @media (max-width: 992px) {
              margin-bottom: 0;
            }
          }
        }
      }
    }
    .logo {
      z-index: 999;
      /*height: 68px;
      overflow: hidden;*/
      display: inline-block;
      height: 68px;
      width: 68px;
      margin: -56px 0 0 -35px;
      overflow: hidden;
      background: url('/themes/custom/addweb/images/logo1_0.png');
      background-position: center top;
      @media (max-width: 992px) {
        height: 52px;
        width: 134px;
        margin: -47px 0 0 8px;
        overflow: visible;
        background-image: none;
      }
      img {
        display: none;
        @media (max-width: 1200px) {
          height: 64px;
        }
        @media (max-width: 1070px) {
          height: 58px;
        }
        @media (max-width: 992px) {
          display: block;
          height: inherit;
          width: 134px;
          margin: -2px 0 0;
          background: none;
        }
      }
      /*@media (max-width: 1200px) {
        height: 64px;
      }
      @media (max-width: 1070px) {
        height: 58px;
      }
      @media (max-width: 992px) {
        display: block;
        height: inherit;
        width: 134px;
        margin: -47px 0 0 8px;
        background: none;
      }*/
      @media (max-width: 640px) {
        /*margin-top: -42px;*/
        float: left;
        left: 0;
        height: 30px;
        width: 234px;
        margin-top: -25px;
        margin-left: 8px;
        background-image: url('../images/stickey-header-mobile-logo.png');
        background-repeat: no-repeat;
        background-size: 234px;
        img {
          display: none;
        }
      }
    }
    .mobile-menu-btn {
      @media (max-width: 640px) {
        /*margin-top: -20px;*/
      }
    }
    .wrap-content {
      .mobile-menu-btn {
        margin: -20px 15px 0 0;
        @media (max-width: 992px) {
          margin: -28px 15px 0 0;
        }
        @media (max-width: 767px) {
          margin: -30px 15px 0 0;
        }
        @media (max-width: 640px) {
          margin: -20px 15px 0 0;
        }
      }
    }
  }
  #block-addweb-branding {
    a {
      height: 68px;
      margin-top: -35px;
      overflow: hidden;
    }
  }
  @media (max-width: 640px) {
    a.social-icon-link {
      margin-top: 2px;
    }
  }
}
/* End */

.menu--simple-mega-menu {
  > .menu-item--expanded {
    > .mega-menu-wrapper {
      top: inherit;
      padding: 0;
      @media (max-width: 992px) {
        position: relative;
        height: auto;
        padding: 0;
        background: transparent;
      }
      .mega-menu-item {
        width: 100%;
      }
      .mega-menu-background {
        @media (max-width: 992px) {
          display: none;
        }
      }
    }
  }
}


.menu--simple-mega-menu > .menu-item--expanded:hover > .mega-menu-wrapper,
.menu--simple-mega-menu > .menu-item--expanded:focus > .mega-menu-wrapper,
.menu--simple-mega-menu > .menu-item--expanded.focused > .mega-menu-wrapper {
  position: fixed;
  @media (max-width: 992px) {
    position: relative;
    display: none;
  }
}
