/**
 * @file
 * SCSS file to generate CSS.
 *
 * All fonts used in SCSS are defined in this file.
 */


/* Gotham fonts */
/*@font-face {
  font-family: $gotham-bold;
  src: $url-gotham-bold;
}
@font-face {
  font-family: $gotham-light;
  src: $url-gotham-light;
}
@font-face {
  font-family: $gotham-medium;
  src: $url-gotham-medium;
}*/

/* Segoeui fonts */
/*@font-face {
  font-family: $segoeui-regular;
  src: $url-opensans-regular;
}
@font-face {
  font-family: $segoeui-semibold;
  src: $url-opensans-semibold;
}*/
/*@font-face {
  font-family: $segoeui-bold;
  src: $url-segoeui-bold;
}*/

/* Titillium fonts */
/*@font-face {
  font-family: $titillium-bold;
  src: $url-titillium-bold;
}*/

/* AvenirLTStd fonts */
/*@font-face {
  font-family: $avenirltstd-light;
  src: $url-avenirltstd-light;
}
@font-face {
  font-family: $avenirltstd-black;
  src: $url-avenirltstd-black;
}
@font-face {
  font-family: $avenirltstd-heavy;
  src: $url-avenirltstd-heavy;
}
@font-face {
  font-family: $avenirltstd-heavyoblique;
  src: $url-avenirltstd-heavyoblique;
}*/

/* SourcesansPro fonts */
/*@font-face {
  font-family: $sourcesanspro-semibold;
  src: $url-sourcesanspro-semibold;
}*/

/* Lato fonts */
/*@font-face {
  font-family: $lato-regular;
  src: $url-opensans-regular;
}
@font-face {
  font-family: $lato-semibold;
  src: $url-opensans-semibold;
}
*/
/* OpenSans fonts */
@font-face {
  font-family: $opensans-extrabold;
  src: $url-opensans-extrabold;
}
@font-face {
  font-family: $opensans-bold;
  src: $url-opensans-bold;
}
@font-face {
  font-family: $opensans-semibold;
  src: $url-opensans-semibold;
}
@font-face {
  font-family: $opensans-bolditalic;
  src: $url-opensans-bolditalic;
}
@font-face {
  font-family: $opensans-italic;
  src: $url-opensans-italic;
}
@font-face {
  font-family: $opensans-regular;
  src: $url-opensans-regular;
}
@font-face {
  font-family: $opensans-light;
  src: $url-opensans-light;
}
@font-face {
  font-family: $opensans-semibolditalic;
  src: $url-opensans-semibolditalic;
}
